<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-1">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Position Tracker System R1</a>
  <ul class="navbar-nav flex-row">
    <li class="nav-item">
      <a class="nav-link p-2" href="https://github.com/neerajjain92/position-tracker-webapp"><span class="fa fa-2x fa-github"></span></a>
    </li>
    <li>
      <a class="nav-link p-2" href="https://stackoverflow.com/users/3143670/neeraj-jain"><span class="fa fa-2x fa-stack-overflow"></span></a>
    </li>
  </ul>
</nav>
